<!DOCTYPE html>
<html>
<head>
  <title>Socnet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- body -->
  <div class="body">
    <!-- head -->
    <div class="head">
      <div class="headName">
       <%= link_to "socnet", root_url %>
      </div>

      <div class="headMenu">
       <% if current_user %>
         <%= link_to "Members", members_path %> |
         <%= link_to "Log out", log_out_path %>
       <% else %>
         <%= link_to "Sing up", sign_up_path %> 
       <% end %>
      </div>
    
   </div>
   <!-- end head -->
   <!-- menu -->
    <div class="menu">
     <% if current_user %>
       <table class="menuTable">
        <tr><td class="menuTd"><%= link_to "My account", member_path(current_user) %> 
            <td class="menuTdC"><%= link_to "Edit", edit_user_path(current_user) %>  
        <tr>
          <% if current_user.get_count_newfriend>0 %>
            <td class="menuTd"><%= link_to "My friends", friends_path %>
            <td class="menuTdC"><%= link_to ("+#{current_user.get_count_newfriend}"), newfriends_path %>
          <% else %>
            <td class="menuTd" colspan="2"><%= link_to "My friends", friends_path %>
          <% end %>
       </table>
     <% else %>
       Bla-bla-bla, наскільки це офігєний сайт, і т.д.
     <% end %>
    </div>
    <!-- end menu -->
    <!-- main -->
     <div class="main">
       <%= yield %>
     </div>
     <!-- end main -->
 </div>
 <!-- end body -->

</body>
</html>
